{% extends "base.html" %}

{% block lab %}Регистрация{% endblock %}

{% block main %}
    <h1>Регистрация нового пользователя</h1>
    <form method="post" action="/lab4/register">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login">
        </div>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="confirm_password">Подтверждение пароля:</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </div>
        <div>
            <input type="submit" value="Зарегистрироваться">
        </div>
    </form>
    <br>
    <div>
        <a href="/lab4/login">Войти</a> | 
        <a href="/lab4/">В меню лабораторной</a>
    </div>
{% endblock %}