{% extends "base.html" %}
{% block main %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
    <div class="auth-container">
        <div class="auth-block">
            <h2>🎄 Вход</h2>
            <form method="post" class="form">
                <input name="login" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <button>Войти</button>
            </form>
        </div>
    </div>
{% endblock %}
