{% extends "base.html" %}

{% block head %}
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .mem-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        .mem-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            text-align: center;
        }
        .mem-card img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        h1 {
            text-align: center;
        }
    </style>
{% endblock %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2, Картинки{% endblock %}
{# основной контент: #}
{% block main %}
    <h1>Список мемов</h1>
    <div class="mem-container">
        {% for mem in memes %}
        <div class="mem-card">
            <img src="{{ url_for('static', filename='lab1/' ~ mem.image) }}" alt="{{ mem.name }}">
            <h3>{{ mem.name }}</h3>
            <p>{{ mem.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
